<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean class="org.example.beans.BtechStudent" id="btechStudentBean" scope="prototype"/>    creates different objects of bean-->
<!--    <bean class="org.example.beans.BtechStudent" id="btechStudentBean" name="btechStudent" scope="singleton"/>   create same objects-->

<!--    you can define scopes in class with annotation-->

    <bean class="org.example.beans.BtechStudent" id="btechStudentBean" name="btechStudent"/>
</beans>